<div style="">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="word-wrap:break-word;table-layout:fixed;">
    <tbody>
      <tr>
        <td style="color:#333333;font-family:arial;font-size:13px;"><p style="font-size:16px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0;"><strong><em>%%category-name%%</em></strong></p>
          <p style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0;" align="center">
          	%%category-images%%
          </p>
          
          %%category-products%%
          
          </td>
      </tr>
    </tbody>
  </table>
</div>
