<tr>
  <td style="background-color:#bfbdaa;color:#333333;font-family:arial;font-size:13px;" bgcolor="#bfbdaa"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td style="background-color:#bfbdaa;padding-right:20px;color:#333333;font-family:arial;font-size:13px;" valign="top" bgcolor="#bfbdaa"><div style="" class="">
              <table width="100%" cellpadding="0" cellspacing="0" style="word-wrap:break-word;table-layout:fixed;">
                <tbody>
                  <tr>
                    <td style="color:#333333;font-family:arial;font-size:13px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td style="background-color:#f1eed8;padding-left:20px;padding-right:20px;padding-top:5px;color:#333333;font-family:arial;font-size:13px;" valign="top" bgcolor="#f1eed8"><div style="" class="">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="word-wrap:break-word;table-layout:fixed;">
                                  <tbody>
                                    <tr>
                                      <td style="color:#333333;font-family:arial;font-size:13px;"><p style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0;"><span style="font-family: georgia, serif; font-size: 22px; color: #84805e">Recent Additions</span></p>
                                        <p style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0;">Click on titles below for more details on each. Some of the titles below are &#39;special order&#39; titles.</p>
                                        <p style="margin-left:0; margin-right:0; padding:0;">For more new titles <a href="http://www.gould.com.au/SearchResults.asp?Cat=1437">click here</a></p>
                                        <p style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0;">&nbsp;</p></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              %%category-groups%%
                            </td>
                          </tr>
                        </tbody>
                      </table></td>
                  </tr>
                </tbody>
              </table>
            </div></td>
        </tr>
      </tbody>
    </table></td>
</tr>
